.*
*~
*.hdf5
*.pyc
*.pyo
*.pkl
*.swp
*.t7
*.npy
*.c
*.out
*.db
*.db.bak
*.dat
*.txt
*.tmp
*.swo
data/
logs/
data
scripts/script-outputs/
checkpoints
processed-data/
.ipynb_checkpoints
.project
.pydevproject
.settings
.[Tt]rash*/
output/
*.out
temp/
*.tar.gz
*.tar
*.zip
